<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>my app</title>
</head>
<body>
    <h1 id="hello">Hello world</h1>


    <div class="numbers">
        <label for="number">Number:</label>
        <input type="number" title="number" placeholder="Please enter a number" id="number">

        <label for="number2">Number2:</label>
        <input type="number" title="number2" placeholder="Please enter a number" id="number2">


        <h3 id="result">result</h3>
        
        

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>